
    <div class="container my-4">
        <div class="cabinet">
            <div class="navbar">
                <ul>
                    <li>
                        <a class="nav-link"  routerLink="user" routerLinkActive="route-active">Особисті дані</a>
                    </li>
                    <li>
                        <a class="nav-link"  routerLink="history" routerLinkActive="route-active">Історія замовлень</a>
                    </li>
                    <li>
                        <a class="nav-link"  routerLink="favorites" routerLinkActive="route-active">Улюблені</a>
                    </li>
                    <li>
                        <a class="nav-link"  routerLink="password" routerLinkActive="route-active">Зміна паролю</a>
                    </li>
                </ul>
            </div>
        </div>
      

        <router-outlet></router-outlet>

    </div>
