
<footer>
    <div class="footer-content">
        <p>© 2024 NOA</p>
        <a routerLink="/offerta" routerLinkActive="route-active">Договір Оферта</a>
        <div class="payment-icons">
            <img src="https://firebasestorage.googleapis.com/v0/b/noa-project-59103.appspot.com/o/images%2Ficons%2Fcc-mastercard.svg?alt=media&token=fd170da8-17fd-4176-91d3-bb4cdddabf8c" alt="MasterCard">
            <img src="https://firebasestorage.googleapis.com/v0/b/noa-project-59103.appspot.com/o/images%2Ficons%2Fcc-visa.svg?alt=media&token=e6730ae5-2e5a-438b-86c0-ab74639df03a" alt="Visa">
        </div>
        <p>noa.asian</p>
        <div class="social-icons">
            <img src="https://firebasestorage.googleapis.com/v0/b/noa-project-59103.appspot.com/o/images%2Ficons%2Ffacebook.svg?alt=media&token=06e52bad-61f2-442f-8a0f-e77eb412c719" alt="Facebook">
            <img src="https://firebasestorage.googleapis.com/v0/b/noa-project-59103.appspot.com/o/images%2Ficons%2Finstagram.svg?alt=media&token=1bb8dc4c-0b3c-4165-9e95-ed787436474b" alt="Instagram">
        </div>
        <p>Створення сайтів <span>Павлівець Христина</span></p>
    </div>
</footer>