<div class="container mt-5">
    <div class="row">
      <div class="col-md-8">
        <h1 class="display-4">Про нас</h1>
        <h2 class="mt-4">
          NOA – місце, де багато живого вогню і смачних страв з особливим східним характером
        </h2>
        <p class="lead mt-4">
          Бренд паназійських ресторанів "NOA" заснований у 2018 р.<br>
          На сьогоднішній день у Львові працює 5 ресторанів мережі.
        </p>
        <p class="mt-3">
          В основі меню – авторська версія паназійської кухні. Ми любимо експериментувати. Застосовуємо азійські традиції в стравах інших країн. І навпаки. Шукаємо баланс в смаках з усіх кінців світу. І як тільки рівновагу знайдено, страва з'являється в нашому меню.
        </p>
        <p class="mt-3">
          І абсолютно неважливо чи замовляєте ви страви, відвідуючи наш ресторан, оформляєте take away або замовлення на доставку. Ми гарантуємо, що кожна страва на нашій кухні готується з турботою і любов'ю до деталей і ніяк інакше!
        </p>
      </div>
      <div class="col-md-4">
        <img src="https://firebasestorage.googleapis.com/v0/b/noa-project-59103.appspot.com/o/images%2Fbackgrounds%2Fscreenshot_23-425x404.webp?alt=media&token=34e8dbdd-eedd-4c79-8ea4-83c897025ce1" class="img-fluid rounded" alt="Image description">
      </div>
    </div>
  </div>


