.logo img {
    content: url('https://firebasestorage.googleapis.com/v0/b/noa-project-59103.appspot.com/o/images%2Ficons%2Fxnoa_logo.png?alt=media&token=c5af4267-3b50-465e-84a5-fccb6725d823');
  }
  
  .checkout__favorites {
    content: url('https://firebasestorage.googleapis.com/v0/b/noa-project-59103.appspot.com/o/images%2Ficons%2Fheart-regular.svg?alt=media&token=11bb0780-ca62-4de6-8146-eccc2a33dd85');
  }
  
  .login-register-icon {
    content: url('https://firebasestorage.googleapis.com/v0/b/noa-project-59103.appspot.com/o/images%2Ficons%2Fuser.svg?alt=media&token=7526b870-344d-42b7-8eb0-5df935203cf1');
  }
  
  .checkout__basket {
    content: url('https://firebasestorage.googleapis.com/v0/b/noa-project-59103.appspot.com/o/images%2Ficons%2Fbasket.svg?alt=media&token=6421d36b-cc17-44b5-8ae1-42e4725f5daa');
  }