// Colors
$primary-color: #000;
$secondary-color: #fff;
$accent-color: #2d7d7d;
$border-color: #212121;
$gray:#c5c5c5;
$gray-light:#d9d8d8e1;
// Font sizes
$font-size-base: 16px;
$font-size-small: 14px;
$font-size-large: 18px;

// Spacing
$spacing-unit: 15px;

// Other
$border-radius: 4px;
$box-shadow: 0 0px 7px rgba(0, 0, 0, 0.1);
$border-accent-color: 2px solid #2d7d7d;


